body, html {
    margin: 10px 0px;
    font-family: sans-serif;
    background-color: lightblue;
}

.content {
    margin: 0 auto;
    width: 400px;
}

table, td, th {
    border: none;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th {
    height: 30px;
}

td {
    padding: 5px;
}

select {
    width: 200px;
    font-size:1em;
    padding:5px;
}

.btn {
    padding:10px;
    width: 50px;
    cursor: pointer;
    background-color: green;
    border: 1 px solid #ccc;
    font-weight: bold;
    font-size:15x;
    color:white;
    text-decoration:none;
}

.form {
    margin-top: 10px;
    font-size:10px;
    line-height:20px;
}

#content {
    width: 70%;
}

.msg-success {
  background-color:green;
  font-style:italic;
  font-weight:bold;
}

.msg-failed {
  background-color:red;
  colr: white;
  font-style:italic;
  font-weight:bold;
}